<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demo.xset.xset_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_xset"
        android:label="XSET"
        android:roundIcon="@mipmap/ic_launcher_xset_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XSET_Demo">
        <activity
            android:name=".about.ValorantLinksActivity"
            android:exported="false" />
        <activity
            android:name=".TabbedMenuActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed_menu"
            android:theme="@style/Theme.XSET_Demo.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>